.topic {
  border: 1px solid;
  border-radius: 2rem;
  padding: 4rem;
}

.topic p {
  margin: 1rem 0;
}

.topic__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.topic__content {
  display: block;
  margin-top: 2rem;
}

.topic__content--active {
  display: none;
}
